@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


:root {
    --cor-primaria: #fcc45d;
        
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}


body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 5%;
    background-color: var(--cor-primaria);

}

.logo {
    cursor: pointer;
    height: 50px;
    width: 180px;
}

.imagem-slideshow {
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 250px;
    width: 100%;
    height: 500px;
    background: url('../images/bannersobrenos.jpg') center center/cover no-repeat;
}

@media screen and (max-width: 768px){
    .imagem-slideshow{
        width: 100%;
        height: 250px;
        margin-bottom: 50px;

    }
}

#sobrelink {
    color: #fff5e2;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav__links li a {
    color: rgb(66, 66, 66);
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #fff5e2;
    text-decoration: underline
}

body {
    background-color: #fff5e2;
}

.video-slideshow {
    display: block;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 250px;
}

@media screen and (max-width: 768px){
    .video-slideshow{
        margin-top: 100px;
        margin-bottom: 100px;
        height: 75%;
        width: 75%;
        flex-direction: column;
    }
}

.conteiner {
    width: 80%;
    margin: 100px auto;
    text-align: justify;
    line-height: 25px;
}

#servicos {
    margin-top: 30px;
}

footer {
    display: flex;
    background-color: var(--cor-primaria);
    color: rgb(66, 66, 66);
    font-size: medium;
    height: 150px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}



.comunicacoes a{
    text-align: center;
    color: rgb(66, 66, 66);
}



.comunicacoes a:hover{
    color:#fff5e2;
    transition: all 0.2s ease 0s;
}

.redes-sociais {
    margin-top: 6%;
    margin-bottom: 8%;
    
    
}

.redes-sociais a{
    color: rgb(66, 66, 66);
    
}

.redes-sociais a:hover{
    color:#fff5e2;
    transition: all 0.2s ease 0s;
}


.copyright{
    font-size: 13.5px;
    color: rgb(66, 66, 66);
}

.copyright:hover{
    color:#fff5e2;
    transition: all 0.2s ease 0s;
}

